main {
  padding: 40px 100px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.project-info {
  display: flex;
  gap: 64px;
  margin-bottom: 40px;
}

.project-info img {
  width: 600px;
  height: 100%;
  object-fit: cover;
}

.project-info .info {
  width: 70%;
  padding-top: 20px;
}

.duration {
  margin-bottom: 32px;
}

.duration .info-title,
.technologies .info-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.duration .time {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.time p,
.tech-stack p {
  font-size: 18px;
  color: rgb(72, 72, 72);
}

.icon {
  font-size: 28px;
}

.tech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
}

.tech-stack {
  display: flex;
  align-items: center;
  gap: 12px;
}

.project-desc {
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .project-info {
    gap: 40px;
  }

  .project-info img {
    width: 500px;
  }
}

@media screen and (max-width: 992px) {
  .project-info img {
    width: 420px;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 0;
  }

  .title {
    text-align: center;
    padding: 0 64px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
  }

  .project-info {
    flex-direction: column;
    gap: 24px;
  }

  .project-info img {
    padding: 0 64px;
    width: 100%;
  }

  .project-info .info {
    padding: 0 64px;
    width: 100%;
  }

  .tech-grid {
    grid-template-columns: 1fr;
  }

  .duration .info-title,
  .technologies .info-title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .duration {
    margin-bottom: 24px;
  }

  .duration .time {
    gap: 8px;
    margin-bottom: 8px;
  }

  .time p,
  .tech-stack p {
    font-size: 16px;
  }

  .icon {
    font-size: 24px;
  }

  .tech-grid {
    gap: 8px;
  }

  .tech-stack {
    gap: 8px;
  }

  .project-desc {
    padding: 0 64px 40px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 20px;
  }

  .project-info img {
    padding: 0 24px;
    width: 100%;
  }

  .project-info .info {
    padding: 0 24px;
  }

  .duration .info-title,
  .technologies .info-title {
    font-size: 16px;
  }

  .time p,
  .tech-stack p {
    font-size: 14px;
  }

  .icon {
    font-size: 18px;
  }
  
  .project-desc {
    padding: 0 24px 64px;
    font-size: 12px;
  }
}
