main {
  width: 1096px;
  margin: 20px auto;
  padding: 42px 60px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.left {
  width: 700px;
}

.left h2 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #161a30;
}

.left p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 32px;
}

.left-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 48px;
}

.left-actions .contact-btn {
  display: block;
  padding: 4px 20px;
  font-size: 16px;
  border: none;
  color: #ffffff;
  background-color: #161a30;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s;
}

.left-actions .contact-btn:hover {
  text-decoration: none;
  background-color: #000000;
}

.left-actions a {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
}

.left-actions a:hover {
  text-decoration: underline;
}

.left-actions .download-icon {
  font-size: 22px;
  margin-left: 8px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icons a {
  color: #161a30;
  font-size: 32px;
  transition: all 0.2s;
}

.social-icons a:hover {
  color: #000000;
  transform: scale(1.1);
}

.right {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 460px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
}

.right img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.right .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0 16px;
}

.right h2 {
  font-size: 22px;
  color: #161a30;
}

.right p {
  font-size: 14px;
}