main {
  padding: 40px 80px;
}

.title-testimoni {
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.testimonial-star-choice {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 12px;
}

.star-choice-button {
  padding: 4px 12px;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all .2s;
}

.star-choice-button:hover {
  border: 1px solid #161a30;
}

.grid-testimoni {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.card-testimoni {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  grid-auto-rows: max-content;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img-testimoni {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
  background-size: cover;
}

.content-testimoni {
  font-size: 14px;
  margin-bottom: 8px;
}

.author-testimoni {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  bottom: 12px;
  right: 16px;
}

.testimonial-star {
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .testimonial-star-choice {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .grid-testimoni {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 40px 32px;
  }
}

@media screen and (max-width: 576px) {
  main {
    padding: 40px 24px;
  }

  .title-testimoni {
    text-align: center;
  }

  .grid-testimoni {
    grid-template-columns: 1fr;
  }

  .content-testimoni {
    margin-bottom: 16px;
  }
}